<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appcursin.blogspot">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

   <application
        android:usesCleartextTraffic="true"
        android:label="Cursin"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <!-- change ID app  to test ID in the next line. actually is the real id: 433...-->
        <!-- Sample AdMob app ID, test: ca-app-pub-3940256099942544~3347511713 || new: ca-app-pub-4336409771912215~1614171285 || old: ca-app-pub-4336409771912215~5807859320 android:name="com.google.android.gms.ads.APPLICATION_ID" --> 
        <meta-data 
           android:name="com.google.android.gms.ads.APPLICATION_ID"  
           android:value="ca-app-pub-4336409771912215~1614171285"/>

        <activity
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <provider
          android:name="vn.hunghd.flutterdownloader.DownloadedFileProvider"
          android:authorities="${applicationId}.flutter_downloader.provider"
          android:exported="false"
          android:grantUriPermissions="true">
          <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>
